.text__link {
  color: var(--link-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.text__link:hover {
  opacity: 0.6;
}
