.tech {
  background-color: var(--background-complementary-color);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--primary-color);
  padding: 100px 70px;
  margin: 0 -70px;
  display: flex;
  flex-direction: column;
}

.tech__title {
  font-family: inherit;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  margin: 0 0 90px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}

.tech__subtitle {
  font-family: inherit;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
}

.tech__text {
  font-family: inherit;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0 0 100px;
}

.tech__tech-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.tech__tech-item {
  height: 60px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-main-color);
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.tech__tech-item:hover {
  opacity: 0.6;
}

.tech__tech-link {
  font-family: inherit;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-decoration: none;
}

@media (max-width: 800px) {
  .tech {
    padding: 90px 50px;
    margin: 0 -50px;
  }

  .tech__title {
    margin-bottom: 80px;
  }

  .tech__subtitle {
    margin-bottom: 22px;
  }

  .tech__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }

  .tech__tech-link {
    font-size: 12px;
    line-height: 15px;
  }

  .tech__tech-item {
    width: 84px;
    height: 57px;
  }
}

@media (max-width: 800px) {
  .tech {
    padding: 100px 40px;
    margin: 0 -40px;
  }
}

@media (max-width: 500px) {
  .tech {
    padding: 70px 10px;
    margin: 0 -10px;
    background-color: var(--background-secondary-color);
  }

  .tech__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 65px;
  }

  .tech__subtitle {
    font-size: 30px;
    line-height: 36px;
  }

  .tech__text {
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 50px;
  }

  .tech__tech-list {
    padding: 0 20px;
  }
}
