.library {
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  background-color: var(--background-secondary-color);
  padding: 0 70px;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
}


@media (max-width: 800px) {
  .library {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 500px) {
  .library {
    padding-right: 10px;
    padding-left: 10px;
  }
}