@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

:root {
  --primary-color: #FFF;
  --background-main-color: #303030;
  --background-secondary-color: #202020;
  --label-color: #8B8B8B;
  --border-color: #424242;
  --info-color: #3DDC84;
  --danger-color: #EE3465;
  --link-color: #4285F4;
}

.page {
  color: var(--primary-color);
  background-color: var(--background-main-color);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 70px 0;
}

.page__header {
  height: 172px;
}

.page__header_none {
  display: none;
}

.page__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.page__footer {
  height: 172px;
}

.page__footer_none {
  display: none;
}

/** {*/
/*  border: 1px red solid;*/
/*}*/
