@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

:root {
  --primary-color: #FFF;
  --background-main-color: #303030;
  --background-secondary-color: #202020;
  --info-color: #3DDC84;
  --danger-color: #EE3465;
}

.page {
  color: var(--primary-color);
  background-color: var(--background-main-color);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  border: 1px red solid;
}
