.header {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--background-secondary-color);
  justify-self: flex-start;
  padding: 18px 70px;
  align-self: center;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
}

@media (max-width: 800px) {
  .header {
    padding: 16px 40px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 17px 10px;
  }
}
