.header {
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--background-secondary-color);
  justify-self: flex-start;
  margin: 0 -70px;
  padding: 18px 70px;
  width: 100%;
  align-self: center;
}

@media (max-width: 800px) {
  .header {
    padding: 16px 40px;
    margin: 0 -40px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 17px 10px;
    margin: 0 -10px;
  }
}
