.user-interface {
  background-color: var(--background-secondary-color);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  max-height: 560px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.user-interface__title {
  color: var(--primary-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 40px 0;
}

.user-interface__title_centered {
  text-align: center;
}

.user-interface__text {
  color: var(--label-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 18px auto 0;
  text-align: center;
}

.user-interface__form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.user-interface__button-container {
  margin-top: auto;
}

.user-interface__submit-button {
  background-color: #4285F4;
  height: 45px;
  width: 100%;
  border-radius: 3px;
  border: none;
  color: var(--primary-color);
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  margin-bottom: 16px;
}

.user-interface__submit-button_transparent {
  background-color: transparent;
}

.user-interface__submit-button:hover {
  opacity: 0.6;
}

.user-interface__extra {
  color: var(--label-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.user-interface__extra-link {
  color: var(--link-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.user-interface__extra-link:hover {
  opacity: 0.6;
}

.user-interface__extra-link_style_danger {
  color: var(--danger-color);
}

@media (max-width: 500px) {
  .user-interface {
    max-width: 260px;
    align-items: center;
    max-height: 685px;

  }
  .user-interface__form {
    width: 100%;
  }

  .user-interface__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 78px;
  }

  .user-interface__extra {
    font-size: 12px;
    line-height: 15px;
  }

  .user-interface__submit-button {
    font-size: 12px;
    line-height: 15px;
  }

  .user-interface__extra-link {
    font-size: 12px;
    line-height: 15px;
  }

}
