.navigation {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: None;
  padding: 0;
  width: 100%;
  column-gap: 16px;
}

.navigation_reversed {
  flex-direction: row-reverse;
}

.navigation__item {
  color: var(--primary-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: opacity 0.5s ease-in-out;
  text-decoration-line: none;
  cursor: pointer;
}

.navigation__item:hover {
  opacity: 0.6;
}

.navigation__item_style_button {
  background-color: var(--info-color);
  border-radius: 3px;
  width: 76px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.navigation__link {
  color: var(--primary-color);
  text-decoration: none;
}

.navigation__link_style_button {
  color: var(--my-soul-color);
}

