.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: None;
  padding: 0;
  width: 100%;
}

.navigation__corner-item {
  margin-right: auto;

}

.navigation__item:not(:last-child) {
  margin-right: 16px;
}

.navigation__link {
  color: var(--primary-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration-line: none;
  transition: opacity 0.3s ease-in-out;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_active {
  font-weight: 500;
}
